name: Build CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    name: Build Windows Clang
    runs-on: windows-latest

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Get ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Configure CMake
      run: >
        cmake --preset Windows-x64-Clang-Debug -S ${{ github.workspace }}
    - name: Build
      run: cmake --build ${{ github.workspace }}/out/build/Windows-x64-Clang-Debug

